#root {

  margin: 0 auto;

  text-align: center;
}
body {
  background-color: #5e967543;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fill-white {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  fill: white;
}

.nav {
  background-color: #5E9675; 
}

.background-hue {
  background-color: #5e967543;

}

.focus-one {
  background-color: #2B9866;
}

.focus-two {
    background-color: #048B5D;
}

.focus-three {
  background-color: #018877;
}

h1 { 
  font-weight: bold;
  font-size: 40px;
  color: #446f56;

}