# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
.env
.DS_Store
package-lock.json

# Ignore all SQL dump files
*.sql

# Ignore specific directories
dump-files/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Optional eslint cache
.eslintcache